@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.main-bg {
  @apply bg-gradient-to-r from-blue-400 via-purple-300 to-pink-400
}
div {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
